name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
          python-version: "3.14" 
    
    - name: Compiler tests
      run: cargo test --verbose

    - name: Typesystem tests
      run: cargo test --features typesystem --verbose
      
    - name: Dryft tests
      run: chmod +x test.sh && ./test.sh
